/*CSS Reset Rule*/
*
{
    margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

body{
    width: 1920px;
    height: 1080px;
    overflow: -moz-scrollbars-horizontal;
    overflow-y: hidden;
    overflow-x: hidden;
}

.TMA-Desktop{
    display: block;
    position: absolute;
    background-image: url(../assets/TMA-Background-Alt.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    resize: both;
    overflow: scroll;
}

.screen{
    position: absolute;
    top: 27.5vh;
    left: 35.75vw;
    width: 28.5vw;
    height: 40.9vh;
    z-index: 2;
}

.desktopIcon{
    width: 2vw;
    height: 3.5vh;
    z-index: 3;
    margin: 1vh;
}

.desktopIcon:hover{
    cursor: pointer;
}

#desktop{
    display: none;
    background-image: url(../assets/DesktopBackground.png);
    background-size: cover;
    z-index: 1;
}

#folderIcon{
    display: inherit;
    position: absolute;
    background-image: url(../assets/folderIcon.png);
    background-size: cover;
}

#folderMenu{
    display: none;
}

#browsermenu{
    display: none;
    background-image: url(../assets/browserWindow.png);
}

#internetIcon{
    display: inherit;
    position: absolute;
    background-image: url(../assets/internetIcon.png);
    background-size: cover;
}

#dark{
    display: none;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
    width: 100vw;
    height: 100vh;
    z-index: 1000; 
}

#darkButton{
    position: absolute;
    display: block;
    width: .6vw;
    height: 30vh; 
    top: 32vh;
    left: 78.2vw;
    opacity: 0%;
    z-index: 5;
}

#darkButton:hover{
    cursor: pointer;
}

#powerButton{
    position: absolute;
    width: 2vw;
    height: 3.5vh;
    top: 75vh;
    left: 59.5vw;
    opacity: 10%;
    border-radius: 10%;
    z-index: 6;
}

#powerButton:hover{
    background-color: black;
    cursor: pointer;
}

#tapeButton{
    position: absolute;
    display: block;
    width: 2.2vw;
    height: 2vh;
    top: 89vh;
    left: 62vw;
    transform: rotate(-30deg) skew(20deg);
    opacity: 10%;
}

#tapeButton:hover{
    cursor: pointer;
    background-color: black;
}

#digButton{
    position: absolute;
    display: block;
    width: 2vw;
    height: 6.5vh;
    top: 53vh;
    left: 1vw;
    opacity: 0%;
}

#digButton:hover{
    cursor: pointer;
}

#datetime{
    display: inherit;
    font-size: xx-small;
    position: absolute;
    top: 94.5%;
    left: 73%;
    width: 6vw;
    height: 1vh;
}

@keyframes toggleMonitor{
    0% { opacity: 0;}
    100% { opacity: 1;}
}